{% include('./header.twig') %}
{% include('./navbar.twig') %}
<br>
<div class="container bg-dark text-light rounded">
    <br>
    <h1> {{ title }}</h1>
    <br>
    <form action="" method="post">
        <div class="row" id="insertDbForm">
            <div class="col-6 col-lg-3">
                <label for="date" class="form-label">Datum</label>
                <input type="date" class="form-control" name="date[]" id="date" required>
            </div>
            <div class="col-6 col-lg-3">
                <label for="costType" class="form-label">Art der Kosten</label>
                <select class="form-control" name="costType[]" id="costType" required>
                    <option value="rent">Miete</option>
                    <option value="furniture">Einrichtung</option>
                    <option value="otherCosts">Sonstige Wohnungskosten</option>
                </select>
            </div>
            <div class="col-6 col-lg-3">
                <label for="quantity" class="form-label">Menge</label>
                <input type="number" class="form-control" name="quantity[]" id="quantity">
            </div>
            <div class="col-6 col-lg-3">
                <label for="pricePerUnit" class="form-label">Preis pro Menge</label>
                <input type="number" step="0.01" class="form-control" name="pricePerUnit[]" id="pricePerUnit" required>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-link col-6 col-lg-2" id="addRow">Reihe hinzufügen</button>
        <br>
        <br>
        <button type="submit" class="btn bg-green text-light">Absenden</button>
    </form>
    <br>
</div>
{% include('./footer.twig') %}