{% include('./header.twig') %}
<br>
<div class="container bg-dark text-light rounded vertical-center">
    <h1 class="py-2">{{ title }}</h1>
    <h3 class="py-2">Erfassung</h3>
    <dl class="row">
        <dt class="col-sm-3"><a href="product.php">Produkte</a></dt>
        <dd class="col-sm-9">Hier werden die Kosten aller gekauften Produkte erfasst.</dd>

        <dt class="col-sm-3"><a href="insurance.php">Versicherungen</a></dt>
        <dd class="col-sm-9">Hier werden alle Versicherungskosten erfasst.</dd>

        <dt class="col-sm-3"><a href="apartment.php">Wohnung</a></dt>
        <dd class="col-sm-9">Hier werden alle Kosten rund um die Wohnung erfasst.</dd>

        <dt class="col-sm-3"><a href="car.php">Auto</a></dt>
        <dd class="col-sm-9">Hier werden alle Kosten rund ums Auto erfasst.</dd>

        <dt class="col-sm-3"><a href="service.php">Dienstleistungen</a></dt>
        <dd class="col-sm-9">Hier werden die Kosten aller in Anspruch genommener Dienstleistungen erfasst.</dd>
    </dl>
</div>
{% include('./charts.twig') %}
{% include('./footer.twig') %}